/* div {
   padding: 5%;
   background-color: 	#FAEBD7;

} */

.excerpt {
  font-family: 'm-regular','Oswald', sans-serif;
  font-style: italic;
}


h1 {
  font-family: 'm-bold';
   text-align: center;

}


.intro{
  font-size: 9pt;
   font-style: italic;
   font-family: 'm-bold';
}


body {
  font-size: 13pt;
  background-color: #FAEBD7;
  /*text-align: center;*/
  font-family: 'roboto';
  line-height: 1.3;
  border: solid;
  border-width: 10px;
  border-color: #DAA520;
}



.link {
   font-size: 1.5em;
   font-family: 'm-regular';
   text-decoration: underline;
}
a:link {
   color: #DAA520;
   text-decoration: none;
}

a:visited {
   color: #777;
   text-decoration: none;
}

a:hover {
   color: #1CCDCA;
   font-style: italic;
}
